<a
  class="main tb-position--relative unlink"
  ngClass.xs="xs"
  ngClass.sm="sm"
  [href]="_mAppUrl"
  target="_blank"
  fxLayout="column"
  #animRefView>
  <div class="background"></div>

  <div
    fxLayout="column"
    fxLayoutGap="6"
    fxLayoutAlign="start stretch"
    class="content tb-position--relative">
    <h4
      class="current-typo--h5 tb-text-align--center tb-color--black"
      ngClass.xs="current-typo--h6">
      {{ _mName }}
    </h4>

    <div ngClass.gt-xs="tb-height--20" ngClass.xs="tb-height--12"></div>

    <div class="image-area">
      <img class="image" [src]="_mImage" />
    </div>
  </div>
</a>
