.main {
  --color-secondary-light: #cbc8ff;
  --color-secondary-light--rgb: #{hexToCssRGB(#cbc8ff)};
  --color-secondary: #8a86e8;
  --color-secondary--rgb: #{hexToCssRGB(#8a86e8)};
  --color-shadow--rgb: #{hexToCssRGB(#6e68e7)};

  &.sm {
    .card-content {
      padding: 28px 48px;
    }
  }

  &.xs {
    .card-content {
      padding: 20px 32px;
    }

    .card-image-area {
      width: 100%;
      .image {
        position: relative;
      }
    }

    .card-empty-space {
      min-height: 24px;
    }
  }

  .container {
    box-sizing: border-box;
    padding: 0px 20px;
  }
  .card {
    border-radius: 30px;
    box-shadow: 10px 10px 28px -5px #b4b4b4;
    transition: all 200ms ease-in-out;
    scale: 0.95;

    &:hover {
      scale: 1;
    }
  }
  .yam-section {
    background-color: #fbfafa;
  }

  .streaming-section {
    background-color: #e8e8f4;
  }

  .card-content {
    overflow: hidden;
    padding: 32px 48px;
  }

  .card-image-area1 {
    position: relative;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      position: absolute;
      z-index: 1;
      height: 100%;

      object-fit: contain;
      max-width: 100%;
      max-height: 350px;
      min-height: 100px;
    }
  }

  .card-image-area {
    position: relative;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      position: absolute;
      height: 100%;
      object-fit: contain;
      max-width: 100%;
      max-height: 350px;
      min-height: 100px;
    }
  }

  .card-backgrond {
    z-index: 0;
    position: absolute;
    left: 4%;
    right: 4%;
    bottom: 4%;

    .overlay {
      z-index: 1;
      position: absolute;
      height: 100%;
      border-radius: 4px;
      width: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.9) 75%,
        rgba(255, 255, 255, 0.3) 100%
      );
    }
    .tb-image {
      z-index: 0;
      max-height: 100%;
      height: auto;
      width: 100%;
      object-fit: contain;
      border-radius: 4px;
    }
    .card-outline {
      position: absolute;
      width: 90%;
      bottom: -8px;
      z-index: -1;
      height: 100%;
      left: 5%;
      border: solid 2px #000;
    }
  }

  .card-empty-space {
    min-width: 48px;
  }

  .btn-yam-area {
    position: relative;

    > * {
      z-index: 2;
    }

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 4px;
      left: 4px;
      border: solid 1px #000000;
      border-radius: 4px;
      content: '';
    }
  }

  .unlink {
    text-decoration: unset;
  }
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #0fa6bc;
  }

  span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 8px 0;
    z-index: 4;
    background-color: #91f2ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #000;
    text-transform: uppercase;
    text-align: center;
  }
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;

  &::before,
  &::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }

  span {
    left: -27px;
    top: 45px;
    text-align: center;
    transform: rotate(45deg);
  }
}
