<div
  class="tb-position--relative main current"
  ngClass.xs="xs"
  ngClass.sm="sm"
  #animRefView>
  <div class="tb-container tb-position--relative container">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

      <h2
        [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 100 } }"
        ngClass.gt-sm="current-typo--h3-light"
        ngClass.sm="current-typo--h3-light"
        ngClass.xs="current-typo--h4">
        Showcases.
      </h2>

      <div ngClass.gt-xs="tb-height--56" ngClass.xs="tb-height--20"></div>

      <a
        [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 200 } }"
        class="streaming-section tb-position--relative card tb-color-bg--white unlink"
        href="https://gitlab.com/mpacademy/auction-platform"
        target="_blank">

        <div
          class="card-content tb-position--relative"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="start center">
          <div
            fxFlex="50"
            class="tb-position--relative"
            ngClass.gt-xs="tb-padding--right-16"
            ngClass.xs="tb-padding--bottom-24"
            fxLayout="column">
            <div class="tb-height--12"></div>

            <h3
              class="tb-font-weight--medium tb-color--black"
              ngClass.xs="current-typo--h2-medium"
              ngClass.sm="current-typo--h3-medium "
              ngClass.gt-sm="current-typo--h2-medium">
              Auction Platform
            </h3>
            <div class="tb-height--12"></div>
            <p class="current-typo--body1 tb-color--black-75">
              The auction platform enables real-time bidding and auction management by sellers.
            </p>
            <div class="tb-height--32"></div>
            <a
              fxFlexAlign="start"
              class="btn-yam-area"
              href="https://gitlab.com/mpacademy/auction-platform"
              target="_blank">
              <button mat-raised-button color="primary">
                <span class="current-typo--button-medium">Explore Now.</span>
              </button>
            </a>
            <div class="tb-height--12"></div>
          </div>
        </div>
      </a>

      <div ngClass.gt-xs="tb-height--32" ngClass.xs="tb-height--20"></div>

      <a
        [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 300 } }"
        class="yam-section tb-position--relative card tb-color-bg--black-4 unlink"
        href="https://gitlab.com/mpacademy/yam-messenger"
        target="_blank">
        <div class="ribbon ribbon-top-right">
          <span class="current-typo--h5">Open Source</span>
        </div>

        <div
          class="card-content tb-position--relative"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="start center">
          <div
            fxFlex="50"
            class="tb-position--relative"
            ngClass.gt-xs="tb-padding--right-16"
            ngClass.xs="tb-padding--bottom-24"
            fxLayout="column">
            <div class="tb-height--12"></div>

            <h3
              class="tb-font-weight--medium tb-color--black"
              ngClass.xs="current-typo--h2-medium"
              ngClass.sm="current-typo--h3-medium "
              ngClass.gt-sm="current-typo--h2-medium">
              YAM Messenger
            </h3>
            <div class="tb-height--12"></div>
            <p class="current-typo--body1 tb-color--black-75">
              YAM - Yet another messenger is a decentralized instant messenger
              that utilzes WebRTC to enable peer-to-peer communication.
            </p>
            <div class="tb-height--20"></div>
            <a
              fxFlexAlign="start"
              class="btn-yam-area"
              href="https://gitlab.com/mpacademy/yam-messenger"
              target="_blank">
              <button mat-raised-button color="primary">
                <span class="current-typo--button-medium">Explore Now.</span>
              </button>
            </a>
            <div class="tb-height--12"></div>
          </div>
        </div>
      </a>

      <div ngClass.gt-xs="tb-height--32" ngClass.xs="tb-height--20"></div>

      <a
        [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 400 } }"
        class="streaming-section tb-position--relative card tb-color-bg--white unlink"
        href="https://gitlab.com/mpacademy/video-streaming"
        target="_blank">
        <div class="ribbon ribbon-top-right">
          <span class="current-typo--h5">Open Source</span>
        </div>

        <div
          class="card-content tb-position--relative"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="start center">
          <div
            fxFlex="50"
            class="tb-position--relative"
            ngClass.gt-xs="tb-padding--right-16"
            ngClass.xs="tb-padding--bottom-24"
            fxLayout="column">
            <div class="tb-height--12"></div>

            <h3
              class="tb-font-weight--medium tb-color--black"
              ngClass.xs="current-typo--h2-medium"
              ngClass.sm="current-typo--h3-medium "
              ngClass.gt-sm="current-typo--h2-medium">
              Video Streaming
            </h3>
            <div class="tb-height--12"></div>
            <p class="current-typo--body1 tb-color--black-75">
              POC to integrate HLS and DASH video streaming into a 3D scene
              using Unreal Engine
            </p>
            <div class="tb-height--32"></div>
            <a
              fxFlexAlign="start"
              class="btn-yam-area"
              href="https://gitlab.com/mpacademy/video-streaming"
              target="_blank">
              <button mat-raised-button color="primary">
                <span class="current-typo--button-medium">Explore Now.</span>
              </button>
            </a>
            <div class="tb-height--12"></div>
          </div>
        </div>
      </a>
      <div
        ngClass.gt-sm="tb-height--56"
        ngClass.sm="tb-height--46"
        ngClass.xs="tb-height--32"></div>
    </div>
  </div>
</div>
