.main {
  .container {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  .line {
    height: 2px;
  }

  .tools-title {
    line-height: 0.7;
  }
  .tool {
    padding: 10px 16px;
    margin-bottom: 16px;
  }

  .tool-image-area {
    height: 28px;
    width: 28px;

    .tb-image {
    }
  }

  .unlink {
    text-decoration: unset;
  }

  &.xs {
    .tool {
      padding: 6px 10px;
      margin-bottom: 6px;
    }

    .tool-image-area {
      height: 20px;
      width: 20px;

      .tb-image {
      }
    }
  }
}
