<div class="main tb-container tb-position--relative container">
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="tb-padding--36" ngClass.xs="tb-padding--24"></div>
    <div class="container tb-padding--12">
      <h1
        class="current-typo--h2 tb-font-weight--bold tb-theme--primary tb-text-align--center"
        ngClass.xs="current-typo--h3">
        SUCCESSFULLY RECEIVED!
      </h1>
    </div>
    <div class="tb-padding--24"></div>
    <div class="tb-padding--12">
      <h3
        class="current-typo--h5 tb-padding--h-36 tb-color--grey-700 tb-text-align--center">
        Your inquiry has been successfully submitted.
      </h3>
    </div>
    <div class="tb-padding--8"></div>

    <div class="tb-padding--24"></div>
  </div>
</div>
