.tb-height--full {
  height: 100%;
}

.tb-height--100h {
  height: 100vh;
}

.tb-height--unset {
  height: unset !important;
}

.tb-height--1 {
  height: 1px;
}

.tb-height--2 {
  height: 2px;
}
.tb-height--6 {
  height: 6px;
}

.tb-height--8 {
  height: 8px;
}
.tb-height--12 {
  height: 12px;
}

.tb-height--16 {
  height: 16px;
}

.tb-height--20 {
  height: 20px;
}

.tb-height--24 {
  height: 24px;
}
.tb-height--28 {
  height: 28px;
}
.tb-height--32 {
  height: 32px;
}
.tb-height--36-i {
  height: 36px !important;
}
.tb-height--36 {
  height: 36px;
}
.tb-height--40 {
  height: 40px;
}
.tb-height--46 {
  height: 46px;
}
.tb-height--48 {
  height: 48px;
}

.tb-height--56 {
  height: 56px;
}

.tb-height--64 {
  height: 64px;
}
.tb-height--72 {
  height: 72px;
}

.tb-height--80 {
  height: 80px;
}

.tb-height--96 {
  height: 96px;
}
.tb-height--126 {
  height: 126px;
}

.tb-min-height-264 {
  min-height: 264px;
}
