.tb-margin--4-12 {
  margin: 4px 12px;
}

.tb-margin--right-40 {
  margin-right: 40px;
}
.tb-margin--h-36 {
  margin: 0 36px;
}

.tb-margin--h-16 {
  margin: 0 16px;
}

.tb-margin--h-12 {
  margin: 0 12px;
}
.tb-margin--v-36 {
  margin: 36px 0px;
}
.tb-margin--v-24 {
  margin: 24px 0px;
}

.tb-margin--v-16 {
  margin: 16px 0px;
}

.tb-margin--v-4 {
  margin: 4px 0px;
}

.tb-margin--top-1 {
  margin-top: 1px;
}
.tb-margin--top-2 {
  margin-top: 2px;
}
.tb-margin--top-4 {
  margin-top: 4px;
}
.tb-margin--top-6 {
  margin-top: 6px;
}
.tb-margin--top-8 {
  margin-top: 8px;
}
.tb-margin--top-12 {
  margin-top: 12px;
}
.tb-margin--top-16 {
  margin-top: 16px;
}
.tb-margin--top-20 {
  margin-top: 20px;
}
.tb-margin--top-24 {
  margin-top: 24px;
}

.tb-margin--top-28 {
  margin-top: 28px;
}
.tb-margin--top-32 {
  margin-top: 32px;
}
.tb-margin--top-48 {
  margin-top: 48px;
}
.tb-margin--top-64 {
  margin-top: 64px;
}
.tb-margin--top-72 {
  margin-top: 72px;
}
.tb-margin--bottom-64 {
  margin-bottom: 64px;
}

.tb-margin--bottom-40 {
  margin-bottom: 40px;
}

.tb-margin--bottom-32 {
  margin-bottom: 32px;
}

.tb-margin--bottom-20 {
  margin-bottom: 20px;
}

.tb-margin--bottom-16 {
  margin-bottom: 16px;
}

.tb-margin--bottom-12 {
  margin-bottom: 12px;
}

.tb-margin--bottom-8 {
  margin-bottom: 8px;
}

.tb-margin--bottom-4 {
  margin-bottom: 4px;
}
.tb-margin--right-56 {
  margin-right: 56px;
}
.tb-margin--right-136 {
  margin-right: 136px;
}
.tb-margin--right-96 {
  margin-right: 96px;
}
.tb-margin--right-36 {
  margin-right: 36px;
}

.tb-margin--right-24 {
  margin-right: 24px;
}

.tb-margin--right-16 {
  margin-right: 16px;
}
.tb-margin--right-12 {
  margin-right: 12px;
}
.tb-margin--right-4 {
  margin-right: 4px;
}

.tb-margin--left-44 {
  margin-left: 44px;
}
.tb-margin--left-16 {
  margin-left: 16px;
}
.tb-margin--left-12 {
  margin-left: 12px;
}
.tb-margin--left-10 {
  margin-left: 10px;
}
.tb-margin--left-6 {
  margin-left: 6px;
}
.tb-margin--72 {
  margin: 72px;
}
.tb-margin--36 {
  margin: 36px;
}

.tb-margin--20 {
  margin: 20px;
}

.tb-margin--16 {
  margin: 16px;
}

.tb-margin--12 {
  margin: 12px;
}
.tb-margin--10 {
  margin: 10px;
}
.tb-margin--8 {
  margin: 8px;
}
.tb-margin--6 {
  margin: 6px;
}
.tb-margin--4 {
  margin: 4px;
}
.tb-margin--1 {
  margin: 1px;
}

.tb-margin--0 {
  margin: 0px;
}

.tb-margin--auto-horizontal {
  margin: 0 auto;
}

.tb-margin--auto-vertical {
  margin: auto 0;
}

.tb-margin--auto {
  margin: auto;
}
