.tb-padding--12-8 {
  padding: 12px 8px !important;
}

.tb-padding--12-16 {
  padding: 12px 16px !important;
}
.tb-padding--12-56 {
  padding: 12px 56px !important;
}
.tb-padding--10-8 {
  padding: 10px 8px !important;
}
.tb-padding--36-16 {
  padding: 36px 16px;
}
.tb-padding--none {
  padding: 0px !important;
}
.tb-padding--v-56 {
  padding: 56px 0px;
}
.tb-padding--v-36-i {
  padding: 36px 0px !important;
}
.tb-padding--v-36 {
  padding: 36px 0px;
}
.tb-padding--v-24-i {
  padding: 24px 0px !important;
}
.tb-padding--v-24 {
  padding: 24px 0px;
}
.tb-padding--h-56-i {
  padding: 0px 56px !important;
}
.tb-padding--h-36-i {
  padding: 0px 36px !important;
}
.tb-padding--v-20 {
  padding: 20px 0px;
}

.tb-padding--v-18 {
  padding: 18px 0px;
}
.tb-padding--v-14 {
  padding: 14px 0px;
}
.tb-padding--4-24 {
  padding: 4px 24px;
}

.tb-padding--v-16-i {
  padding: 16px 0px !important;
}

.tb-padding--v-16 {
  padding: 16px 0px;
}

.tb-padding--v-12 {
  padding: 12px 0px;
}
.tb-padding--v-12-i {
  padding: 12px 0px !important;
}

.tb-padding--v-10-i {
  padding: 10px 0px !important;
}

.tb-padding--v-10 {
  padding: 10px 0px;
}

.tb-padding--v-8 {
  padding: 8px 0px;
}

.tb-padding--v-6 {
  padding: 6px 0px;
}
.tb-padding--v-4 {
  padding: 4px 0px;
}
.tb-padding--v-3 {
  padding: 3px 0px;
}
.tb-padding--v-2 {
  padding: 2px 0px;
}

.tb-padding--56-i {
  padding: 56px !important;
}

.tb-padding--24-36 {
  padding: 24px 36px;
}
.tb-padding--12-36 {
  padding: 12px 36px !important;
}

.tb-padding--12-24 {
  padding: 12px 24px !important;
}
.tb-padding--12-20 {
  padding: 12px 20px !important;
}
.tb-padding--12-16 {
  padding: 12px 16px !important;
}
.tb-padding--8-36 {
  padding: 8px 36px !important;
}
.tb-padding--8-24 {
  padding: 8px 24px !important;
}
.tb-padding--8-20 {
  padding: 8px 20px !important;
}

.tb-padding--8-16 {
  padding: 8px 16px !important;
}
.tb-padding--16-8 {
  padding: 16px 8px !important;
}
.tb-padding--16-36 {
  padding: 16px 36px !important;
}
.tb-padding--8-12 {
  padding: 8px 12px !important;
}
.tb-padding--10-12 {
  padding: 10px 12px !important;
}

.tb-padding--4-36 {
  padding: 4px 36px !important;
}

.tb-padding--4-12 {
  padding: 4px 12px !important;
}

.tb-padding--4-8 {
  padding: 4px 8px !important;
}

.tb-padding--2-4 {
  padding: 2px 4px !important;
}
.tb-padding--16-24 {
  padding: 16px 24px;
}
.tb-padding--16-12 {
  padding: 16px 12px;
}
.tb-padding--16-8 {
  padding: 16px 8px;
}
.tb-padding--16-4 {
  padding: 16px 4px;
}
.tb-padding--h-140 {
  padding: 0 140px;
}
.tb-padding--h-96 {
  padding: 0 96px;
}
.tb-padding--h-80 {
  padding: 0 80px;
}
.tb-padding--h-72 {
  padding: 0 72px;
}
.tb-padding--h-56 {
  padding: 0 56px;
}
.tb-padding--h-48 {
  padding: 0 48px;
}
.tb-padding--h-36 {
  padding: 0 36px;
}
.tb-padding--h-28 {
  padding: 0 28px;
}
.tb-padding--h-24 {
  padding: 0 24px;
}
.tb-padding--h-24-i {
  padding: 0 24px !important;
}

.tb-padding--h-20 {
  padding: 0 20px;
}
.tb-padding--h-16 {
  padding: 0 16px;
}
.tb-padding--h-12 {
  padding: 0 12px;
}
.tb-padding--h-8 {
  padding: 0 8px;
}
.tb-padding--h-4 {
  padding: 0 4px;
}
.tb-padding--h-6 {
  padding: 0 6px;
}
.tb-padding--90 {
  padding: 90px;
}
.tb-padding--72 {
  padding: 72px;
}
.tb-padding--56 {
  padding: 56px;
}
.tb-padding--48 {
  padding: 48px;
}
.tb-padding--40 {
  padding: 40px;
}
.tb-padding--36 {
  padding: 36px;
}

.tb-padding--32 {
  padding: 32px;
}
.tb-padding--28 {
  padding: 28px;
}
.tb-padding--24-i {
  padding: 24px !important;
}
.tb-padding--24 {
  padding: 24px;
}
.tb-padding--20 {
  padding: 20px;
}
.tb-padding--18 {
  padding: 18px;
}
.tb-padding--16-i {
  padding: 16px !important;
}
.tb-padding--16 {
  padding: 16px;
}
.tb-padding--14-i {
  padding: 14px !important;
}
.tb-padding--14 {
  padding: 14px;
}
.tb-padding--12-i {
  padding: 12px !important;
}
.tb-padding--12 {
  padding: 12px;
}
.tb-padding--11 {
  padding: 11px;
}
.tb-padding--10 {
  padding: 10px;
}
.tb-padding--6-i {
  padding: 6px !important;
}
.tb-padding--6 {
  padding: 6px;
}
.tb-padding--8 {
  padding: 8px;
}
.tb-padding--4 {
  padding: 4px;
}

.tb-padding--2 {
  padding: 2px;
}

.tb-padding--1 {
  padding: 1px;
}

.tb-padding--0 {
  padding: 0px;
}

.tb-padding--top-2 {
  padding-top: 2px;
}

.tb-padding--top-6 {
  padding-top: 6px;
}
.tb-padding--top-8 {
  padding-top: 8px;
}
.tb-padding--top-10 {
  padding-top: 10px;
}
.tb-padding--top-16 {
  padding-top: 16px;
}
.tb-padding--top-24 {
  padding-top: 24px;
}
.tb-padding--top-32 {
  padding-top: 32px;
}
.tb-padding--top-48 {
  padding-top: 48px;
}
.tb-padding--top-72 {
  padding-top: 72px;
}
.tb-padding--top-56 {
  padding-top: 56px;
}
.tb-padding--bottom-48 {
  padding-bottom: 48px;
}
.tb-padding--bottom-32 {
  padding-bottom: 32px;
}
.tb-padding--bottom-24 {
  padding-bottom: 24px;
}
.tb-padding--bottom-20 {
  padding-bottom: 20px;
}
.tb-padding--bottom-16 {
  padding-bottom: 16px;
}
.tb-padding--bottom-12 {
  padding-bottom: 12px;
}
.tb-padding--bottom-8 {
  padding-bottom: 8px;
}
.tb-padding--bottom-6 {
  padding-bottom: 6px;
}

.tb-padding--bottom-4 {
  padding-bottom: 4px;
}
.tb-padding--bottom-2 {
  padding-bottom: 2px;
}
.tb-padding--left-120 {
  padding-left: 120px;
}
.tb-padding--left-80 {
  padding-left: 80px;
}
.tb-padding--left-72 {
  padding-left: 72px;
}
.tb-padding--left-56 {
  padding-left: 56px;
}

.tb-padding--left-40 {
  padding-left: 40px;
}
.tb-padding--left-36 {
  padding-left: 36px;
}
.tb-padding--left-32 {
  padding-left: 32px;
}
.tb-padding--left-28 {
  padding-left: 28px;
}
.tb-padding--left-24 {
  padding-left: 24px !important;
}

.tb-padding--left-16 {
  padding-left: 16px;
}

.tb-padding--left-12 {
  padding-left: 12px;
}

.tb-padding--left-8 {
  padding-left: 8px;
}

.tb-padding--left-6 {
  padding-left: 6px;
}
.tb-padding--left-4 {
  padding-left: 4px;
}
.tb-padding--left-2 {
  padding-left: 2px;
}
.tb-padding--left-0 {
  padding-left: 0px !important;
}
.tb-padding--right-120 {
  padding-right: 120px;
}
.tb-padding--right-56 {
  padding-right: 56px;
}

.tb-padding--right-48 {
  padding-right: 48px;
}

.tb-padding--right-32 {
  padding-right: 32px;
}

.tb-padding--right-24 {
  padding-right: 24px;
}

.tb-padding--right-16 {
  padding-right: 16px;
}
.tb-padding--left-12 {
  padding-left: 12px;
}
.tb-padding--right-12 {
  padding-right: 12px;
}
.tb-padding--right-8 {
  padding-right: 8px;
}

.tb-padding--right-4 {
  padding-right: 4px;
}
