.tb-shadow--thin {
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px -2px rgba(0, 0, 0, 0.2);
}

.tb-shadow--normal {
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 00, 0.1);
}

.tb-shadow--up {
  box-shadow:
    0 -4px 8px rgba(0, 0, 0, 0.1),
    0 -2px 4px rgba(0, 0, 0, 0.12);
}

.tb-shadow--elevated {
  box-shadow:
    2px 3px 10px 0px rgba(0, 0, 00, 0.05),
    0 40px 20px -20px rgba(0, 0, 0, 0.08);
}

.tb-shadow--elevated-backup {
  box-shadow: 0 40px 20px -20px rgba(0, 0, 0, 0.1);
}
