.tb-nowrap {
  white-space: nowrap;
}

.tb-text--capitalize {
  text-transform: capitalize;
}

.tb-text--overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tb-text--pre {
  position: relative;
  white-space: pre-wrap;
  word-break: break-word;
}

.tb-text--nowrap {
  white-space: nowrap;
}
