.tb-width--unset {
  width: unset !important;
}

.tb-width--full {
  width: 100%;
}
.tb-width--264 {
  width: 264px;
}
.tb-width--196 {
  width: 196px;
}
.tb-width--172 {
  width: 172px;
}
.tb-width--156 {
  width: 156px;
}
.tb-width--120 {
  width: 120px;
}
.tb-width--96 {
  width: 96px;
}
.tb-width--76 {
  width: 76px;
}
.tb-width--56 {
  width: 56px;
}
.tb-width--40 {
  width: 40px;
}

.tb-width--36 {
  width: 36px;
}
.tb-width--24 {
  width: 24px;
}
.tb-width--16 {
  width: 16px;
}
.tb-width--12 {
  width: 12px;
}
