.current {
  .current-raised-button {
    position: relative;
    border-radius: 0px;
    padding: 4px 20px;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      height: 400%;
      left: -50%;
      top: 50%;
      width: 40%;
      background: white;
      opacity: 1;
      z-index: 2;
      transform-origin: 0 0;
      transform: rotate(40deg) translate(-50%, -50%);
      transition: all 0.5s ease;
    }

    &:hover:enabled {
      &::after {
        left: 150%;
      }
    }

    .tb-typo--button {
      vertical-align: middle;
    }
  }
}
