$color-dark-primary-text: rgba(black, 0.87);

$color-light-primary-text: white;
$color-dark-secondary-text: rgba(black, 0.54);
$color-dark-disabled-text: rgba(black, 0.38);
$color-dark-dividers: rgba(black, 0.12);
$color-dark-focused: rgba(black, 0.12);
$color-light-secondary-text: rgba(white, 0.7);
$color-light-disabled-text: rgba(white, 0.5);
$color-light-dividers: rgba(white, 0.12);
$color-light-focused: rgba(white, 0.12);
