@function hexToCssRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function color($color-name) {
  @return var(--#{$color-name});
}

:host {
  --app-primary: blue;
  --app-primary--rgb: #{hexToCssRGB(#0000ff)};
}

.main {
  border-radius: 30px;
  box-shadow: 10px 10px 28px -5px #b4b4b4;
  transition: all 200ms ease-in-out;
  scale: 0.95;

  &:hover {
    scale: 1;
  }

  &.sm {
    .image-area {
      height: 400px;
    }
  }

  &.xs {
    width: 100%;

    .image-area {
      height: unset;
      width: 100%;
      .image {
        height: auto;
        width: 100%;
      }
    }
  }

  .content {
    z-index: 1;
  }

  .image-area {
    display: flex;
    max-height: 100%;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    .image {
      max-height: 80%;
      max-width: 80%;
      object-fit: contain;
      box-sizing: border-box;
      filter: drop-shadow(30px 20px 20px rgba(0, 0, 0, 0.2));
    }
  }

  .icon-area {
    height: 4rem;
    border-radius: 50%;
    width: 4rem;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .icon-outline {
    border: solid 1px black;
  }
}

.unlink {
  text-decoration: unset;
}
