<div class="main" [ngStyle]="{ background: _mModel?.background }">
  <a
    class="tb-position--relative unlink"
    ngClass.xs="xs"
    ngClass.sm="sm"
    [href]="_mModel?.link"
    target="_blank"
    fxLayout="column">
    <div
      fxLayout="column"
      fxLayoutGap="6"
      fxLayoutAlign="start stretch"
      class="content tb-position--relative">
      <div class="image-area">
        <img class="image" [src]="_mModel?.image" />
      </div>

      <div
        class="tb-padding--24-36"
        ngClass.xs="tb-padding--12-20"
        fxLayout="row"
        fxLayoutAlign="start center">
        <div fxFlex fxLayout="column" fxLayoutGap="0.6rem">
          <h6 class="tb-typo--h6 tb-color--black-54">
            {{ _mModel?.caption }}
          </h6>

          <h6 class="current-typo--h4-bold tb-color--black">
            {{ _mModel?.name }}
          </h6>
        </div>
        <div
          class="icon-area"
          [class.icon-outline]="!_mModel?.primary"
          [ngStyle]="_mModel?.primary ? { background: _mModel?.primary } : {}">
          <mat-icon svgIcon="arrow"></mat-icon>
        </div>
      </div>
    </div>
  </a>
</div>
