.main {
  .icon-area-full {
    width: 100%;
    height: 364px;
    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &.sm {
    .icon-area-full {
      height: 264px;
    }
  }
}
