@use './variables' as *;

.tb-container-gt-md {
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  box-sizing: border-box;
}

.tb-container {
  max-width: $tb-resXL;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

@media screen and (min-width: $tb-fxS) and (max-width: $tb-fxM) {
  .tb-container {
    max-width: $tb-resM;
  }
}

@media screen and (min-width: $tb-fxM) and (max-width: $tb-fxL) {
  .tb-container {
    max-width: $tb-resL;
  }
}

@media screen and (min-width: $tb-fxL) and (max-width: $tb-fxXSL) {
  .tb-container {
    max-width: $tb-resXSL;
  }
}

@media screen and (min-width: $tb-fxXSL) and (max-width: $tb-fxXL) {
  .tb-container {
    max-width: $tb-resXL;
  }
}

.tb-container--large {
  max-width: $tb-resL;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.tb-container--large-extra {
  max-width: $tb-resXL;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  padding: 24px;
}

.tb-layout-content {
  padding: 48px 32px 8px 40px;
}

@media screen and (max-width: $tb-resXS) {
  .tb-layout-content {
    padding: 48px 20px 8px 20px;
  }
}

.tb-layout-content-v-8 {
  padding: 8px 32px 8px 40px;
}

@media screen and (max-width: $tb-resXS) {
  .tb-layout-content-v-8 {
    padding: 8px 0px 8px 0px;
  }
}

.tb-layout-content-thin-padding-h {
  padding: 0px 8px 0px 8px;
}

@media screen and (max-width: $tb-resXS) {
  .tb-layout-content-thin-padding-h {
    padding: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: $tb-resXS) {
  .tb-container--stretched {
    padding: 20px;
  }
}

.tb-container--stretched {
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  box-sizing: border-box;
}

.tb-layout--align-top {
  vertical-align: top;
}

.tb-layout--align-middle {
  vertical-align: middle;
}

.tb-display--table {
  display: table;
}

.tb-display--table-cell {
  display: table-cell;
}

.tb-position--relative {
  position: relative;
}

.tb-position--static {
  position: static;
}

.tb-position--absolute {
  position: absolute;
}

.tb-position--fixed {
  position: fixed;
}

.tb-layout--align-center {
  display: flex;
  align-content: center;
}
