@use './../../../basics/typography/variables' as *;

@font-face {
  font-family: 'Mont';
  src: url('/#{$fonts-root}Mont-ExtraLightDEMO.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Mont';
  src: url('/#{$fonts-root}Mont-HeavyDEMO.otf') format('opentype');
  font-weight: 700;
}
