<div class="tb-padding--8-16 tb-text-align--center">
  <div
    class="tb-padding--12"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px">
    <mat-spinner
      mode="indeterminate"
      color="priamry"
      [diameter]="28"></mat-spinner>
    <h4 class="tb-typo--h4 tb-margin--0 mat-color-text--grey-600" fxFlex>
      {{ _mData.title }}
    </h4>
  </div>
</div>
