@use './variables' as *;
@each $colorKey in map-keys($tb-color-black-alpha-map) {
  .tb-color--black-#{$colorKey} {
    color: map-get($map: $tb-color-black-alpha-map, $key: $colorKey);
  }

  .tb-color-bg--black-#{$colorKey} {
    background-color: map-get($map: $tb-color-black-alpha-map, $key: $colorKey);
  }
}

@each $colorKey in map-keys($tb-color-white-alpha-map) {
  .tb-color--white-#{$colorKey} {
    color: map-get($map: $tb-color-white-alpha-map, $key: $colorKey);
  }

  .tb-color-bg--white-#{$colorKey} {
    background-color: map-get($map: $tb-color-white-alpha-map, $key: $colorKey);
  }
}

.tb-color--white {
  color: white;
}
.tb-color--black {
  color: black;
}
.tb-color--white-i {
  color: white !important;
}
.tb-color-bg--white {
  background-color: white;
}

.tb-color-bg--transparent {
  background-color: transparent;
}
.tb-color-bg--black {
  background-color: black !important;
}
.tb-color-bg--green {
  background-color: #35cea5;
}
.tb-color-bg--blue {
  background-color: #2f78e8;
}
.tb-color-bg--red {
  background-color: #fb365d;
}

@each $colorKey in map-keys($tb-orange) {
  .tb-color--orange-#{$colorKey} {
    color: map-get($map: $tb-orange, $key: $colorKey);
  }

  .tb-color-bg--orange-#{$colorKey} {
    background-color: map-get($map: $tb-orange, $key: $colorKey);
  }
}

@each $colorKey in map-keys($tb-grey) {
  .tb-color--grey-#{$colorKey} {
    color: map-get($map: $tb-grey, $key: $colorKey);
  }
  .tb-color-bg--grey-#{$colorKey} {
    background-color: map-get($map: $tb-grey, $key: $colorKey);
  }
}
@each $colorKey in map-keys($tb-green) {
  .tb-color--green-#{$colorKey} {
    color: map-get($map: $tb-green, $key: $colorKey);
  }
  .tb-color-bg--green-#{$colorKey} {
    background-color: map-get($map: $tb-green, $key: $colorKey);
  }
}
@each $colorKey in map-keys($tb-blue) {
  .tb-color--blue-#{$colorKey} {
    color: map-get($map: $tb-blue, $key: $colorKey);
  }
  .tb-color-bg--blue-#{$colorKey} {
    background-color: map-get($map: $tb-blue, $key: $colorKey);
  }
}
@each $colorKey in map-keys($tb-red) {
  .tb-color--red-#{$colorKey} {
    color: map-get($map: $tb-red, $key: $colorKey);
  }
  .tb-color-bg--red-#{$colorKey} {
    background-color: map-get($map: $tb-red, $key: $colorKey);
  }
}
