@use './variables' as typo;
@use './mixin' as *;

@each $typo in map-keys(typo.$tb-typo-map) {
  .tb-typo--#{$typo} {
    @include tb-typo($typo);
  }
}

@each $typo in map-keys(typo.$tb-typo-map) {
  #tb-typo--#{$typo} {
    @include tb-typo($typo);
  }
}

@each $weight in map-keys(typo.$tb-font-weight) {
  .tb-font-weight--#{$weight} {
    font-weight: map-get($map: typo.$tb-font-weight, $key: $weight);
  }
}
