<div
  class="tb-position--relative main"
  ngClass.xs="xs"
  ngClass.sm="sm"
  #animRefView>
  <div class="tb-container tb-position--relative container">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div
        [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 100 } }"
        fxLayout="row"
        fxLayoutAlign="start end">
        <h4 class="title current-typo--h4 tb-flex--shrink-0">About Me.</h4>
        <div class="tb-width--12"></div>
        <div fxFlex="60" class="line tb-color-bg--black"></div>
        <div fxFlex class=""></div>
      </div>

      <div ngClass.gt-xs="tb-height--20" ngClass.xs="tb-height--12"></div>

      <div fxLayout="row" fxLayout.xs="column">
        <div
          [fxFlexOrder]="1"
          [fxFlexOrder.xs]="2"
          fxFlex
          fxFlex.xs="none"
          fxFlex.sm="70"
          fxLayout="column">
          <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

          <p
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 200 }
            }"
            class="current-typo--body1-medium tb-color--black-54">
            In 2018, I became interested in creating scalable
            <span class="tb-color--black">cloud architectures</span> when I was creating a
            monitoring eHealth app at adesso. Since then,
            I have made over
            <span class="tb-color--black">2+ Mobile Apps</span> and
            <span class="tb-color--black">5+ Web Platforms</span>.
            Later on, as a CTO @ Nexloq I was in charge of the complete software 
            architecture for a study platform that gave me extensive insights into full stack development 
            and cloud computing.
          </p>
          <div
            ngClass.gt-sm="tb-height--12"
            ngClass.sm="tb-height--8"
            ngClass.xs="tb-height--6"></div>

          <p
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 200 }
            }"
            class="current-typo--body1-medium tb-color--black-54">
            My objective is to build SaaS solutions that use infra-as-a-code solutions 
            to facilitate fast iteration and deployment and also to build UIs that combine 
            interactivity and clean design to provide a stunning UX for my clients.
          </p>

          <div
            ngClass.gt-sm="tb-height--56"
            ngClass.sm="tb-height--46"
            ngClass.xs="tb-height--32"></div>

          <div
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 300 }
            }"
            fxLayout="row">
            <div
              fxFlex
              fxLayout="column"
              fxLayoutGap="12"
              fxLayoutAlign="start start">
              <h2 class="title current-typo--h3-light">4+</h2>
              <h4 class="title current-typo--h6">Years of Experience</h4>
            </div>

            <div
              fxFlex
              fxLayout="column"
              fxLayoutGap="12"
              fxLayoutAlign="start start">
              <h2 class="title current-typo--h3-light">7+</h2>
              <h4 class="title current-typo--h6">Projects Completed</h4>
            </div>
          </div>

          <div
            ngClass.gt-sm="tb-height--56"
            ngClass.sm="tb-height--46"
            ngClass.xs="tb-height--32"></div>

          <div
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 400 }
            }"
            fxLayout="row wrap"
            fxLayoutGap="6">
            <div class="skill tb-color-bg--black-6">
              <h5 class="current-typo--h5">Design</h5>
            </div>

            <div class="skill" style="background-color: #ffd647">
              <h5 class="current-typo--h5 tb-color--black">UI/UX</h5>
            </div>

            <div class="skill" style="background-color: #f57fff">
              <h5 class="current-typo--h5 tb-color--black">Logo</h5>
            </div>

            <div class="skill" style="background-color: #6f73c3">
              <h5 class="current-typo--h5 tb-color--white">Prototype</h5>
            </div>
          </div>
          <div class="tb-height--8"></div>

          <div
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 500 }
            }"
            fxLayout="row wrap"
            fxLayoutGap="6">
            <div class="skill" style="background-color: #f44040">
              <h5 class="current-typo--h5 tb-color--white">Angular</h5>
            </div>

            <div class="skill" style="background-color: #68f17e">
              <h5 class="current-typo--h5 tb-color--black">Vue</h5>
            </div>

            <div class="skill" style="background-color: #027dfd">
              <h5 class="current-typo--h5 tb-color--white">React</h5>
            </div>

            <div class="skill tb-color-bg--black-6">
              <h5 class="current-typo--h5">React Native</h5>
            </div>
          </div>

          <div
            ngClass.gt-sm="tb-height--56"
            ngClass.sm="tb-height--46"
            ngClass.xs="tb-height--32"></div>
        </div>
        <div
          fxFlex.xs="none"
          fxFlex
          [fxFlexOrder.xs]="1"
          [fxFlexOrder]="2"
          class="image-container"
          fxLayout="column"
          fxLayoutAlign="center stretch">
          <div
            [@transitionImageScale]="{
              value: _mTriggerAnim,
              params: { animDelay: 600 }
            }"
            class="tb-text--align-center image-area">
            <img
              class="image tb-position--relative"
              src="assets/img/avatar/personality.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
