.main {
  .container {
    box-sizing: border-box;
    padding: 0px 20px;
  }
  .line {
    height: 2px;
  }

  .title {
    line-height: 0.7;
  }

  .image-container {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    flex: 0 0 auto;
  }

  .image-area {
    position: relative;
    height: 100%;
    min-width: 200px;
    display: flex;
    padding: 20px 56px;
    justify-content: center;
    align-items: center;

    .image {
      z-index: 1;
      max-height: 100%;
      object-fit: contain;
      max-width: 100%;
      max-height: 350px;
      min-height: 100px;
    }
  }

  .skill {
    border-radius: 50rem;
    padding: 12px 16px;
  }

  .btn-area-cv {
    position: relative;

    > * {
      z-index: 2;
    }

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 4px;
      left: 4px;
      border: solid 1px #000000;
      border-radius: 4px;
      content: '';
    }
  }

  .unlink {
    text-decoration: unset;
  }

  .btn-area-hire {
    padding-top: 6px;
    .btn-hire {
      padding: 10px 28px;
      border: solid 1px #000000;
      border-radius: 4px;
    }
  }

  &.xs {
    .image-container {
      margin: 20px;
    }
    .image-area {
      width: 100%;

      padding: unset;
      .image {
        width: 100%;
      }
    }
  }

  img {
    border-radius: 50px;
    box-shadow: 13px 12px 22px 0px #b0b0b0;
  }
}
