<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm">
  <div class="tb-container tb-position--relative container">
    <div class="content-container" fxLayout="column">
      <div class="tb-height--56"></div>
      <div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>
      <div
        ngClass.gt-sm="tb-height--126"
        ngClass.sm="tb-height--72"
        ngClass.xs="tb-height--72"></div>
      <h4
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 200 } }"
        ngClass.gt-sm="current-typo--h4"
        ngClass.sm="current-typo--h5"
        ngClass.xs="current-typo--h5">
        Welcome to Christian's blog
      </h4>
      <div
        ngClass.gt-sm="tb-height--24"
        ngClass.sm="tb-height--12"
        ngClass.xs="tb-height--12"></div>
      <h2
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 300 } }"
        ngClass.gt-sm="current-typo--h1-light"
        ngClass.sm="current-typo--h2-light"
        ngClass.xs="current-typo--h3">
        Passionate
      </h2>

      <h2
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 400 } }"
        ngClass.gt-sm="current-typo--h1-light"
        ngClass.sm="current-typo--h2-light"
        ngClass.xs="current-typo--h3">
        Content Creator
      </h2>
      <h2
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 500 } }"
        ngClass.gt-sm="current-typo--h1-light"
        ngClass.sm="current-typo--h2-light"
        ngClass.xs="current-typo--h3">
        & Full Stack Developer
      </h2>
      <div
        ngClass.gt-sm="tb-height--24"
        ngClass.sm="tb-height--16"
        ngClass.xs="tb-height--8"></div>

      <p
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 700 } }"
        (@transitionTextEnter.done)="_onTextAnimationEnd($event)"
        class="detail tb-color--black-54"
        ngClass.gt-sm="current-typo--body1"
        ngClass.sm="current-typo--body1"
        ngClass.xs="current-typo--body1">
        I’m a Full Stack Developer and Cloud Engineer experienced in making
        products for mobile and web. Currently, I am building a community
        platform where people share their study and travel experiences.
      </p>
      <div
        ngClass.gt-sm="tb-height--126"
        ngClass.sm="tb-height--72"
        ngClass.xs="tb-height--72"></div>
    </div>
  </div>
</div>
