<div
  [@transitionReveal]="{ value: _mTriggerAnim, params: { animDelay: 500 } }"
  class="main tb-position--relative tb-overflow--hidden"
  ngClass.xs="xs"
  ngClass.sm="sm"
  #animRefView>
  <div
    class="footer tb-container tb-position--relative container"
    fxLayout="column">
    <div class="tb-height--48"></div>

    <div
      fxLayout="row wrap"
      fxLayout.lt-md="column"
      fxLayoutAlign="start center"
      fxLayoutGap.lt-md="12px">
      <div
        class="company"
        fxFlex
        fxFlex.lt-md="none"
        fxLayout="row"
        fxLayoutAlign="start end"
        fxLayoutGap="12px">
        <h5 class="company-name tb-color--black-38 tb-typo--h5" ngClass.xs="xs">
          Designed in <span class="tb-color--black">Figma</span>. Developed in
          <span class="tb-color--black">Angular</span>
        </h5>
      </div>

      <div class="navigation-area" fxLayout="row">
        <button
          class="tb-typo--button tb-color--grey-900 tb-padding--8-16 tb-cursor--pointer"
          appScrollAnchor="about">
          About
        </button>
        <div
          ngClass.gt-sm="tb-padding--h-12"
          ngClass.lt-md="tb-padding--h-12"></div>
        <button
          class="tb-typo--button tb-color--grey-900 tb-padding--8-16 tb-cursor--pointer"
          appScrollAnchor="showcases">
          Showcases
        </button>
        <div
          ngClass.gt-sm="tb-padding--h-12"
          ngClass.lt-md="tb-padding--h-12"></div>
        <button
          class="tb-typo--button tb-color--grey-900 tb-padding--8-16 tb-cursor--pointer"
          appScrollAnchor="platforms">
          Platforms
        </button>
      </div>
    </div>
    <div class="tb-height--56"></div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
      <p class="tb-cursor--pointer tb-typo--body2 tb-color--grey-500">
        © 2023 Copyright | Christian's PB | All rights reserved.
      </p>
      <div fxFlex></div>
      <div
        class="social-area"
        fxLayoutGap="40px"
        fxLayout="row"
        fxLayoutAlign="center center">
        <div
          class="social"
          fxLayoutGap="40px"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutAlign.lt-sm="end end">
          <a
            class=""
            href="https://gitlab.com/mpacademy"
            target="_blank"
            matTooltip="gitlab">
            <button mat-icon-button>
              <mat-icon
                svgIcon="gitlab"
                class="tb-icon--16 tb-color--grey-500"></mat-icon>
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="tb-height--20"></div>
  </div>
</div>
