// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@use 'styles/current/colors/palette' as palette;

@use 'styles/basics/typography/variables' as typo;

@use 'styles/class' as *;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$personal-blog-primary: mat.define-palette(palette.$current-color-pink);
$personal-blog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$personal-blog-warn: mat.define-palette(palette.$current-color-pink, 800);

$personal-blog-typography-config: mat.define-typography-config(
  $font-family: typo.$tb-typo-family-secondary,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$personal-blog-theme: mat.define-light-theme(
  (
    color: (
      primary: $personal-blog-primary,
      accent: $personal-blog-accent,
      warn: $personal-blog-warn,
    ),
    typography: $personal-blog-typography-config,
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($personal-blog-theme);

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media screen and (max-width: 1910px) {
  :root {
    font-size: 86%;
  }
}
@media screen and (max-width: 1380px) {
  :root {
    font-size: 70%;
  }
}

.grecaptcha-badge {
  opacity: 0 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
