$tb-theme-primary: #f1516e !default;
$tb-theme-primary-dark: #c04058 !default;
$tb-theme-primary-light: #f696a8 !default;
$tb-theme-primary-accent: #e14361 !default;
$tb-theme-primary-background: #f3fbfb !default;
$tb-theme-secondary: #2e2e2e !default;
$tb-theme-secondary-dark: #202020 !default;
$tb-theme-background: #ffffff !default;

$tb-theme-submit: #00ff00 !default;
$tb-theme-error: #fe5858 !default;
$tb-theme-disable: #979797 !default;
$tb-theme-success: #00ff00 !default;

$tb-theme-map: (
  primary-light: $tb-theme-primary-light,
  primary: $tb-theme-primary,
  primary-dark: $tb-theme-primary-dark,
  primary-accent: $tb-theme-primary-accent,
  primary-background: $tb-theme-primary-background,
  secondary: $tb-theme-secondary,
  error: $tb-theme-error,
  success: $tb-theme-success,
  submit: $tb-theme-submit,
);
