<div
  class="tb-position--relative main current"
  ngClass.xs="xs"
  ngClass.sm="sm"
  #animRefView>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <div
      fxLayout.gt-sm="row wrap"
      fxLayout.lt-md="column"
      fxLayoutAlign.gt-sm="space-between center"
      fxLayoutAlign.lt-md="start stretch">
      <ng-container *ngFor="let app of _mApps">
        <app-myapp-item
          class="tw-mt-4 tw-mx-2"
          [fxFlex.gt-sm]="
            app.isFull ? 'calc( 100% - 1rem )' : 'calc( 50% - 1rem )'
          "
          fxFlex.lt-md="none"
          [data]="app">
        </app-myapp-item>
      </ng-container>
    </div>
  </div>
</div>
