.image {
  height: 32px;
}

.logo-container {
  cursor: pointer;

  .logo {
    object-fit: contain;
    margin-bottom: 4px;
  }
}

.menu-option {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;

  * {
    transition: all 0.3s ease-in-out;
  }

  .big-block {
    position: absolute;
    height: 80%;
    top: 10%;
    width: 30%;
    right: 10%;
    transform: rotate(0deg);

    &::after {
      position: absolute;
      height: 0%;
      top: 50%;
      width: 0%;
      right: 50%;
      background: white;

      content: '';
    }
  }

  .thin-block {
    position: absolute;
    height: 10%;
    width: 100%;
    top: 20%;
    left: 0%;
  }

  &:hover {
    .big-block {
      position: absolute;
      height: 100%;
      top: 0%;
      width: 100%;
      right: 0%;
      transform: rotate(90deg);

      &::after {
        position: absolute;
        height: 80%;
        top: 10%;
        width: 80%;
        right: 10%;
        content: '';
      }
    }

    .thin-block {
      position: absolute;
      height: 40%;
      width: 40%;
      top: 30%;
      left: 30%;

      transform: rotate(180deg);
    }
  }
}
