@use './variables' as *;
@use './functions' as *;

@use './../../../basics/color/functions' as color;

@each $shadowLevel in map-keys($shadow-map) {
  .current-elevation--#{$shadowLevel} {
    box-shadow: resolve-box-shadow(
      $shadowLevel,
      color.cssColor(current-color-shadow-key--rgb),
      color.cssColor(current-color-shadow-ambient--rgb)
    );
  }
}
