@use './variables' as *;

@function resolve-box-shadow(
  $level,
  $shadow-key-css-color,
  $shadow-ambient-css-color
) {
  @if $level == null {
    @return null;
  }

  @if $level == 0 {
    @return none;
  }

  @if $level == null {
    @error '$elevation is required when $shadow-color is provided';
  }

  $key-spread: map-get($shadow-map, $level, key);
  $ambient-spread: map-get($shadow-map, $level, ambient);
  $key-opacity: map-get($shadow-map, $level, keyOpacity);
  $ambient-opacity: map-get($shadow-map, $level, ambientOpacity);

  $key-color: rgba($shadow-key-css-color, $key-opacity);
  $ambient-color: rgba($shadow-ambient-css-color, $ambient-opacity);

  @return (#{$key-spread} #{$key-color}, #{$ambient-spread} #{$ambient-color});
}
